{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Artificial Intelligence</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'affiliate/images/favicon.ico' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'affiliate/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'affiliate/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'affiliate/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'affiliate/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'affiliate/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'affiliate/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'affiliate/css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'affiliate/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'affiliate/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'affiliate/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'affiliate/css/slick.css' %">
    <link rel="stylesheet" href="{% static 'affiliate/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'affiliate/css/style.css' %}">
</head>
<body class="black-bg">
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'affiliate/images/logo.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
